PORT=3000

# Database Connections
DATABASE_URL="postgresql://username:password@host:port/database_name?schema=public"
DIRECT_URL="postgresql://username:password@host:port/database_name?schema=public"

# JWT Configurations
JWT_ACCESS_SECRET="your-jwt-access-secret"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_SECRET="your-jwt-refresh-secret"
JWT_REFRESH_EXPIRATION="7d"
